{
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
  }
  h2,
  p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
    line-height: 2 ;
  }
  
  h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
    justify-content: left;
    position: absolute; top: 645px;
  }
  
  #aboutme,#portfilio,#contactme{
    height: 600px;
    width: 300px;


}
  .aboutme{
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
    position: absolute; top: 400px;
  
  }
  .portfolio{
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
    position: absolute; top: 700px;

  
  }
    
  .contactme{
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
    position: absolute; top: 800px;
  }
  .profilephoto {
  align-items: left;
  
  }
  
  main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
  }
  
  .glass {
    background: white;
    min-height: 125vh;
    width: 80%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
  } */
  
  }
  .dashboard {
   
   position: relative;
   width: 100%;
   height: 100%;
   overflow: auto;
    border-radius: 2rem;
  } */

  






  } */